.musicPlayer {
    width: 100%;
    padding: 10px;
    display: flex;
  }
  
  .musicPlayer .songImage {
    width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
   .songImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
   .songAttributes {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
   .songAttributes .top,
   .songAttributes .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
.songAttributes .top .left,
  .songAttributes .top .middle,
   .songAttributes .top .right {
    color: #595959;
    font-size: 16px;
    cursor: pointer;
  }
  .songAttributes .top .left i,
  .songAttributes .top .middle i,
   .songAttributes .top .right i{
    margin: 0px,15px;
   }
  
   .songAttributes .top .left,
   .songAttributes .top .middle {
    display: flex;
    align-items: center;
  }
  
  .songAttributes .top .left .loved {
    color: #49e12e !important;
    filter: drop-shadow(0px 0px 4px #49e12e);
  }
  .songAttributes .top .left .loved i {
    color: #49e12e !important;
    filter: drop-shadow(0px 0px 4px #49e12e);
  }
  
   .songAttributes .top .left .download {
    padding-left: 20px;
  }
  
   .songAttributes .top .middle .back i,
   .songAttributes .top .middle .forward i {
    margin: 0px 25px;
  }
  
   .songAttributes .top .middle .back i:nth-child(1),
   .songAttributes .top .middle .forward i:nth-child(1) {
    margin-right: 0;
  }
  
   .songAttributes .top .middle .back i:nth-child(2),
   .songAttributes .top .middle .forward i:nth-child(1) {
    color: #9a9a9a !important;
  }
  
   .songAttributes .top .middle .playPause {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

  }
  
  .musicPlayer .songAttributes .top .middle .playPause i {
    color: #000;
  }
  
  .musicPlayer .songAttributes .bottom {
    margin-top: 20px;
    padding: 0px 15px;
  }
  .bottom input{
    width: 80%;
  }
  
  .musicPlayer .songAttributes .bottom .progressBar {
    width: 90%;
    position: relative;
    height: 5px;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  /* Chrome & Safari */
  
  .musicPlayer .songAttributes .bottom .progressBar::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #848484;
    width: var(--played-width);
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
  }
  
  .musicPlayer .songAttributes .bottom .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
  }
  
  /* firefox */
  .musicPlayer .songAttributes .bottom .progressBar::-moz-range-track {
    width: 100%;
    height: 5px;
    outline: none;
    appearance: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .musicPlayer .songAttributes .bottom .progressBar::-moz-range-progress {
    background: #848484;
    width: var(--played-width);
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
  }
  
  .musicPlayer .songAttributes .bottom .progressBar::-moz-range-thumb {
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
  }
  
  .musicPlayer .songAttributes .bottom .currentTime,
  .musicPlayer .songAttributes .bottom .duration {
    color: #f1f1f1;
    font-size: 12px;
    font-weight: bold;
  }
  
  .musicPlayer .songAttributes .bottom .currentTime {
    margin-right: 20px;
  }
  
  .musicPlayer .songAttributes .bottom .duration {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 550px) {

      .songImage{
        width: 100px;
        min-width: 100px;
      }
      .songAttributes .top .left i,  .songAttributes .top .middle i,  .songAttributes .right i{
           margin: 0px,5px;
      }
      .songAttributes.bottom{
        padding: unset;
      }
      .songAttributes .bottom .progressBar{
        width: 65%;
      }

    .musicPlayer .songAttributes .bottom .currentTime {
      margin-right: 0px;
    }
  
    .musicPlayer .songAttributes .bottom .duration {
      margin-left: 0px;
    }
  
    .musicPlayer .songAttributes .top .middle .back i,
    .musicPlayer .songAttributes .top .middle .forward i {
      margin: 0 5px;
    }
  
    .musicPlayer .songAttributes .bottom .progressBar {
      width: 110px;
    }
  }
  
  @media screen and (min-width: 550px) and (max-width: 1080px) {
    .musicPlayer .songImage {
      width: 100px;
      min-width: 100px;
      height: 100px;
    }
  } 
  @media screen and (min-width: 360px) and (max-width: 820px) {
    /* .musicPlayer .songImage {
      width: 100px;
      min-width: 100px;
      height: 100px;
    } */
    .musicPlayer{
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }
    .songImage {
      margin-left: 80px;
      padding-bottom: 10px;
      margin-bottom: 5px;
  }
  .songAttributes{
    margin-left: 0;
  }
  } 